################################
# Wolfenstein Enemy Territory
################################
gametype WOETS new extend Q3S
    name = Enemy Territory
end

gametype WOETM new extend Q3M
    name = Enemy Territory Master
    master protocol = 84
    master for gametype = WOETS
end

################################
# Call of Duty 2
################################
gametype COD2S new extend Q3S
    name = Call of Duty 2
    default port = 28960
    game rule = gamename
end

gametype COD2M new extend Q3M
  name = Call of Duty 2 Master
  default port = 20710
  master protocol = 115
  master for gametype = COD2S
  master query = full empty
end
